{% extends 'commons/base.html' %}
{% load static %}

{% block content %}

  <!-- [ Main Content ] start -->
  <div class="row justify-content-center">
    <!-- [ badge ] start -->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header" style="display:flex;justify-content:space-between">
          <h5>Change password</h5>
          {% if user.is_admin %}
             <button class="btn btn-primary" style = "border-radius: 20px">Compile All</button>

             {% endif %}
        </div>
        <div class="card-body">

          <form method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group row">
                <label for="name" class="col-md-3 col-form-label text-md-right" >Old password :</label>
                <div class="col-md-6">
                  <input type="password" class="form-control"name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
  
                </div>
              </div>
            
            <div class="form-group row">
              <label for="name" class="col-md-3 col-form-label text-md-right" >New password :</label>
              <div class="col-md-6">
                <input type="password" class="form-control" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                <small id="emailHelp" class="form-text text-muted">Password must at least contain 8 caracteres !</small>

              </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-md-3 col-form-label text-md-right" >Confirm password :</label>
                <div class="col-md-6">
                  <input type="password" class="form-control"  name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                  <small id="emailHelp" class="form-text text-muted">Passwords must match !</small>

                </div>
              </div>

            

            <div class="form-group text-center">
              <button type="submit" class="btn btn-primary" style="background-color: #1DE9B6; border-color: #1DE9B6; border-radius: 20px;">Reset password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- [ badge ] end -->
  </div>
  <!-- [ Main Content ] end -->


 {% endblock content %}